
.list-group-horizontal .list-group-item {
    display: inline-block;
}

.button-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 24px;
}

.button-container a {
    padding: 14px;
}